<script type="text/javascript">
    RED.nodes.registerType('get-view',{
        category: 'ragrug-view',
        color: '#bdb96d',
        defaults: {
            viewName: { value: "" },
            msgBehavior: { value: 0 },
            clientFunction: { value: "RRJSIATK_GetView" }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-eye",
        label: ""
    });
</script>

<script type="text/html" data-template-name="get-view">
    <div class="form-row">
        <label for="node-input-viewName"><i class="fa fa-tag"></i> View Name</label>
        <input type="text" id="node-input-viewName">
    </div>

    <div class="form-row">
        <label for="node-input-msgBehavior"><i class="fa fa-shield"></i> Msg Behavior</label>
        <select id="node-input-msgBehavior">
            <option value=0>Always Send</option>
            <option value=1>Send on Success</option>
            <option value=2>Send on Fail</option>
        </select>
    </div>
</script>

<script type="text/html" data-help-name="get-view">
    <p>Verifies that a View is present.</p>
    <h3>Attributes</h3>
    <dl class="message-properties">
        <dt>View Name
            <span class="property-type">string</span>
        </dt>
        <dd>name of the View to retrieve</dd>
        <dt>Msg Behavior
            <span class="property-type">select</span>
        </dt>
        <dd>whether to send a message if the View does or does not exist</dd>
    </dl>

    <h3>Outputs</h3>
    <ol class="node-ports">
        <li>
            <dl class="message-properties">
                <dt>view.name<span class="property-type">string</span></dt>
                <dd>name of the retrieved view</dd>
            </dl>
        </li>
    </ol>

    <h3>Details</h3>
    <p>Next to its primary function, this node can be used to guard against potentially deleted Views, or to prevent View duplication.</p>
</script>